# Ambientes Virtuais (Dependências)
.venv/
venv/
env/

# Bancos de dados locais
*.db
*.sqlite3

# Cache e arquivos compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Variáveis de ambiente (Senhas e APIs)
.env

# Configurações da IDE (VS Code)
.vscode/

# Cache de Testes
.pytest_cache/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
